{% extends "base.html" %}

{% block content %}

<h3>Find/Review Records</h3>

<p>Search the harvester by Archival Object ID (e.g. '107520'). 
    Links to the ArchivesSpace record and to the Data Provider OAI record are returned.
    The ID returned is the numerical part of the full identifier (e.g. 
    'collections.archives.caltech.edu/repositories/2/archival_objects/107520')
</p>

<p>Enter an ArchivesSpace ID:</p>

<form method="post">
    <input name="id" id="id" required>
    <input type="submit" value="Find">
</form>

{% if id %}
<br>
<table>
    <tr>
        <td>{{ id }}</td>
        <td>[<a href="https://{{ idbase }}{{ id }}">aspace</a>]</td>
        <td>[<a href="{{ dpurl }}?verb=GetRecord&identifier={{ idbase }}{{ id}}">oai</a>]</td>
    </tr>
</table>
{% endif %}

{% endblock %}